@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.2 0 0);
  --accent: oklch(0.72 0 0);
  --secondary-text: oklch(0.556 0 0);
  --border: oklch(0.85 0 0);
}

.dark {
  --background: oklch(0.23 0 0);
  --foreground: oklch(0.985 0 0);
  --accent: oklch(0.47 0 0);
  --secondary-text: oklch(0.7 0 0);
  --border: oklch(0.47 0 0);
}

@theme {
  --font-figtree: 'Figtree', sans-serif;
  --font-unbounded: 'Unbounded', sans-serif;
  --font-ubuntu-mono: 'Ubuntu Mono', monospace;
  --font-header: var(--font-unbounded);
  --font-body: var(--font-figtree);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary-text: var(--secondary-text);
  --color-border: var(--border);

  --breakpoint-3xl: 115rem;
}

.markdown > h3 {
  @apply text-xl lg:text-2xl font-medium my-5;
}

.markdown > ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

html {
  background-color: var(--color-background);
  @apply 3xl:max-w-[1800px] 3xl:relative 3xl:mx-auto;
}
