@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@tailwind base;

* {
	scrollbar-width: 10px;
	scrollbar-color: white;
	scrollbar-track-color: black;
}

*::-webkit-scrollbar {
	@apply w-[10px];
}

*::-webkit-scrollbar-track {
	@apply bg-black;
}

*::-webkit-scrollbar-thumb {
	@apply bg-white;
	@apply rounded-md;
}

@tailwind components;
@tailwind utilities;

html.dark {
	color-scheme: dark;
}

svg {
	@apply w-[22px];
	@apply h-[22px];
}

/* Mobile */

/* Layout Transition */

.layout-enter-active,
.layout-leave-active {
	transition: all 1s;
}

.layout-enter-from,
.layout-leave-to {
	filter: blur(3px);
}

/* Desktop */

@media (min-width: 1024px) {
	/* Active Class */

	a.router-link-active,
	a.router-link-exact-active {
		@apply text-[4.5rem];
		@apply text-white;
	}

	/* Page Transition */

	.page-enter-active,
	.page-leave-active {
		transition: all 0.3s;
	}

	.page-enter-from,
	.page-leave-to {
		opacity: 0;
		transform: translateX(20%);
	}

	/* Animations */

	.onload-translate-from-right {
		animation: translate-from-right 2s;
	}

	.onload-translate-from-bottom {
		animation: translate-from-bottom 2s;
	}

	@keyframes translate-from-right {
		0% {
			opacity: 0;
			transform: translateX(10%);
		}
		50% {
			opacity: 1;
			transform: translateX(0%);
		}
	}
}

.pulse {
	animation: pulse 8s infinite;
}

@keyframes pulse {
	50% {
		opacity: 0.38;
	}
}

@keyframes translate-from-bottom {
	0% {
		opacity: 0;
		transform: translateY(30%);
	}
	50% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.float:hover {
	animation: float 3s infinite;
}

@keyframes float {
	0% {
		@apply translate-y-0;
	}
	50% {
		@apply translate-y-1;
	}
	100% {
		@apply translate-y-0;
	}
}
